/* Exportação e configuração das fontes utilizadas */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

/* CSS padrão */

html {
  background: #0D0D0D;
  background-size: cover;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

main, header, main, footer {
  margin: 0 3% 0 3%;
  font-family: Arial, Helvetica, sans-serif;
}

menu{
  padding: 0;
}

footer{}

.menu-bar{
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.menu-bar-link{
  list-style: none;
  margin:  1% 3%;
}
.menu-bar-link > a{
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.menu-bar-link > a:hover{
  border-bottom: 3px solid white;
}

.title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #754f44;
  height: 4em;
  border-radius: 10px;
  margin: 2em 0 0 0;
}

.title-text {
  font-family: Italiana;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e1ce7a;
  width: 50%;
  height: 2em;
}

.title-sub {
  display: flex;
  justify-content: center;
  font-size: 1em;
  margin: 10px 0 0 0;
}

.title-sub-redirect {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #0028da;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container-topics,
.container-members {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  color: white;
  border-right: 3px solid white;
  margin-bottom: 5%;
}

.container-title{
  margin: 0 0 20px 0;
}

.container-content, .container-link{
  list-style: none;
  text-decoration: none;
  color: #888C0B;
  padding-bottom: 10px;
}

.container-link:hover{
  color: white;
  text-decoration: underline;
}

/* Configuração de tags utilizadas e tabelas */

h2 {
  margin: 2em 0 0.7em 0;
}

p {
  margin: 0 0 0 10px;
}

ul,
ol {
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c4b36a;
}

tr:nth-child(odd) {
  background-color: #e1ce7a;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}

.footer-text-redirect {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1em;
  color: #ffffff;
  border: #000 2px solid;
  border-radius: 12px;
  padding: 10px 20px;
  margin: 10px;
  max-width: 500px;
  background-color: #754f44;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: shake 2s infinite;
  transition: 0.7s;
}

.footer-text-redirect:hover {
  background-color: #ac9969;
  font-size: 1.05em;
  animation-iteration-count: 0;
}

/* Configurando a scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f8fa90;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ac9969;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #696846;
}

/* CSS responsivo (celular) */
@media screen and (max-width: 768px) {
  main {
    margin: 0 0.8em 30px 0.8em;
  }

  .title-text {
    font-size: 2.3em;
  }

  .title-sub,
  .title-sub-redirect,
  .footer-text,
  .footer-text-redirect {
    font-size: 0.7em;
  }

  .container {
    display: block;
  }

  h2 {
    font-size: 1.7em;
    display: flex;
    justify-content: center;
  }

  p {
    margin: 0;
  }

  th,
  td {
    display: flex;
    justify-content: center;
  }
}

@keyframes shake {
  0% {
    rotate: 1.5deg;
  }
  50% {
    rotate: -1.5deg;
  }
  100% {
    rotate: 1.5deg;
  }
}